body {
  margin: 0;
}

h1 {
  background: #281b2d;
  color: #fff;
  text-align: center;
  font-size: 72px;
  margin-top: 0;
  padding-top: 25px;
  padding: 25px 0;
}

 /* unvisited link */
 a:link {
  color: #111;
}

/* visited link */
a:visited {
  color: #111;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blueviolet;
}

.subhead {
  background: #281b2d;
  color: #fcd801;
  font-size: 48px;
  padding: 20px;
  border-bottom: solid 5px #00c54c;
  text-align: center;
  margin: 10px 10px;
  
}

.white-text {
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.columns {
    display: flex;
  }

.main-content {
  width: 65%;
  margin-right: 5%;
 
}

.sidebar {
  width: 30%;
  background-color: #9AE84F;
  font-size: 19px;
  box-shadow: 5px 5px 5px 5px gray;
  
}

.col-right {
    margin-left: 25px;
    
    
}

.link {
  margin-left: 20px;

}

